.contact {
    background-color: var(--grey);
    padding-bottom: 125px;
    margin: 125px 0;
    text-align: center;
    color: var(--white)

    a {
        color: var(--white);
        font-weight: 500;
    }
}