form {
    display: grid;
    gap: 15px;
    margin-bottom: 20px;

    button{
        margin-top: 10px;
    }
    
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 110%;
        transition: border 0.3s ease;

        &.error {
            border: 2px solid red;
            border-left-width: 5px;
            background-color: rgb(255, 214, 214);
        }
    }
}